@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #60a534;
  --color-secondary: #d9fa06;
}

html {
  scroll-behavior: smooth;
}

.sip-animation {
  animation-name: sip;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes sip {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 1900px) {
  .custom-h-footer {
    min-height: 1000px !important ;
  }
}

.about-top-animation {
  animation: about_top 2s infinite linear;
  transform-origin: 80% 80%;
}

@keyframes about_top {
  0%,
  25%,
  75%,
  100% {
    transform: rotate(-10deg);
    animation-delay: 0s;
  }
  50% {
    transform: rotate(10deg);
  }
}

.about-bottom-animation {
  animation: about_bottom 2s infinite linear;
  transform-origin: 20% 0%;
}

@keyframes about_bottom {
  0%,
  25%,
  75%,
  100% {
    transform: rotate(10deg);
    animation-delay: 0s;
  }
  50% {
    transform: rotate(-10deg);
  }
}

/* ---------- Tokenomics Cards ---------- */
/* .tokenomics_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

.tokenomics_card:nth-child(1) {
  transform: rotate(5deg);
  z-index: 50;
}
.tokenomics_card:nth-child(2) {
  transform: rotate(7deg) translate(70px, -70px);
  z-index: 40;
}

.tokenomics_card:nth-child(3) {
  transform: rotate(9deg) translate(150px, -150px);
  z-index: 30;
}

.tokenomics_card:nth-child(4) {
  transform: rotate(-7deg) translate(-100px, -130px);
  z-index: 20;
}

.tokenomics_card:nth-child(5) {
  transform: rotate(-5deg) translate(-50px, -200px);
  z-index: 10;
}

.tokenomics_card.active {
  z-index: 99;
}
